<a href="https://colab.research.google.com/github/Danyaell/edd_1358_2021/blob/master/12octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Diccionarios (continuación)
cliente_banco = {
    "id":1,
    "nombres": ["Juan","Antonio"],
    "paterno": "Garcia",
    "materno": "Pérez",
    "teléfnonos": {
        "casa": 5566778899,
        "celular": 5544332211,
        "trabajo": 5566223311
    },
    "activo": True,
    "balance": 234567.89,
    "tarjetas": ({"tipo":"débito","saldo":12000},
                 {"tipo":"crédito","saldo":3500.00})
}

print(cliente_banco)
#cliente_banco["balance"] = cliente_banco["balance"] - 1000.0
cliente_banco["balance"] -= 1000.0
print(cliente_banco)

cliente_banco["tarjetas"] = ({"tipo":"débito","saldo":12000},
                             {"tipo":"crédito","saldo":3500.00},
                             {"tipo":"credito","nivel":"oro","saldo":50000})
print(cliente_banco)

cliente_banco["dirección"] = {"calle":"rancho seco","num":23}
print(cliente_banco)
cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Pérez', 'teléfnonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 234567.89, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Pérez', 'teléfnonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.89, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Pérez', 'teléfnonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.89, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Pérez', 'teléfnonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.89, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000}), 'dirección': {'calle': 'rancho seco', 'num': 23}}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Pérez', 'teléfnonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.89, 'dirección': {'calle': 'rancho seco', 'num': 23}}

In [17]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
  print(x)
  
valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
for i in pares:
  print(f" {i[0]} = {i[1]} ")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'teléfnonos', 'activo', 'balance', 'dirección'])
<class 'dict_keys'>
id
nombres
paterno
materno
teléfnonos
activo
balance
dirección
1
['Juan', 'Antonio']
Garcia
Pérez
{'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
True
233567.89
{'calle': 'rancho seco', 'num': 23}
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Pérez
 teléfnonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 233567.89
 dirección = {'calle': 'rancho seco', 'num': 23}

In [18]:
fruta = {"nombre":"manzana","color":"rojo","estado":"chihuahua"}
otras_caracteristicas = {"vitamina":"D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamina': 'D'}

# Funciones
- recibe de 0 a n argumentos de entrada.
- regresa solo un valor, aunque ese valor sea None.
- tiene u nombre único en el contexto.
- se pueden hacer solo dos cosas con funciones:
  - definirla
  - llamarla

In [20]:
def suma(a,b):
  return a+b

def saludar():
  print("Hola, ¿Cómo estás?")
  return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, ¿Cómo estás?

# None y las funciones
Aprovechar el uso de none en paso de parámetros.

In [21]:
def calcular( base , veces ):
  if base != None:
    resultado = base * veces
    return resultado
  else:
    resultado = "desconocido"

print(calcular(4, 3))

12